<h1>History of Armenia</h1>

<p><a href="https://en.wikipedia.org/wiki/History_of_Armenia" target="_blank">Armenia</a> lies in the highlands surrounding the Biblical mountains of Ararat. The original Armenian name for the country was Hayk, later Hayastan (Armenian: Հայաստան), translated as the land of Haik, and consisting of the name of the ancient Mesopotamian god Haya (ha-ià) and the Persian suffix '-stan' ("land"). The historical enemy of Hayk (the legendary ruler of Armenia), Hayastan, was Bel, or in other words Baal (Akkadian cognate Bēlu).</p>

<p>The name Armenia was given to the country by the surrounding states, and it is traditionally derived from Armenak or Aram (the great-grandson of Haik's great-grandson, and another leader who is, according to Armenian tradition, the ancestor of all Armenians).[2] In the Bronze Age, several states flourished in the area of Greater Armenia, including the Hittite Empire (at the height of its power), Mitanni (South-Western historical Armenia), and Hayasa-Azzi (1600–1200 BC). Soon after the Hayasa-Azzi were the Nairi (1400–1000 BC) and the Kingdom of Urartu (1000–600 BC), who successively established their sovereignty over the Armenian Highland. Each of the aforementioned nations and tribes participated in the ethnogenesis of the Armenian people. Yerevan, the modern capital of Armenia, dates back to the 8th century BC, with the founding of the fortress of Erebuni in 782 BC by King Argishti I at the western extreme of the Ararat plain. Erebuni has been described as "designed as a great administrative and religious centre, a fully royal capital."</p>

<img src="C:\Users\test\Yerevan.jpg" alt="Armania, Yerevan">